.map-container {
    height: 100vh;
    }

    .county-title{
        text-transform: capitalize;
    }

    .dv-title {
        font-weight: 500;
        line-height: 14px;
    }

    a {
        color: purple;
    }

    .info p {
        margin: 0px;
    }

    

    .info {
        border: 1px solid black;
        padding: 5px;
        margin: 10px 0px;
    }

    


    .sidebar {
        background-color: white;
        padding: 10px;
        font-family: sans-serif;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        border-radius: 4px;
        border: 1px solid black;
    }

    .countyname {
        text-transform: capitalize;
    }