.map-container {
    height: 100vh;
    }

    .county-title{
        text-transform: capitalize;
    }

    .dv-title {
        font-weight: 500;
        line-height: 14px;
    }

    a {
        color: purple;
    }

    .info p {
        margin: 0px;
    }

    

    .info {
        border: 1px solid black;
        padding: 5px;
        margin: 10px 0px;
    }

    


    .sidebar {
        background-color: rgba(35, 55, 75, 0.9);
        color: #fff;
        padding: 6px 12px;
        font-family: monospace;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        border-radius: 4px;
        }